<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="postnl_module_map" xsi:type="array">
                    <item name="original_module" xsi:type="string">TIG_PostNL</item>
                    <item name="compat_module" xsi:type="string">PostNL_HyvaCheckout</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
